*, *::before, *::after {
    box-sizing: border-box;
    font-family: DMSans, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: rgba(51, 51, 77, 0.466);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgba(245, 245, 245, .4);
    outline: none;
    background-color: rgba(225, 225, 225, .4);
}

.calculator-grid > button:hover {
    background-color: rgba(225, 225, 225, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(92, 91, 91, 0.9);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid rgba(245, 245, 245, .4);
}

.output .previous-operand {
    color: rgba(225, 225, 225, .6);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}